* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* "*" selects all elements in file, border-box sets limit of the height / width of the box to not allow elements to exceed that limit*/
body {
  background-color: rgb(235, 235, 193);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}
p {
  margin-bottom: 20px;
}
/*p selects all of the paragraph*/
.first {
  color: red;
}

#your-name {
  background-color: rgb(199, 199, 157);
  border: 5px solid #444;
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}
/*edits both selectors for the same values*/

a {
  background-color: yellowgreen;
}
/*edits the anchor*/

#your-name h2 {
  color: olivedrab;
}
/*edits only the element in your-name*/

#course-image {
  height: 300px;
}
/*Editing the image --scales portionally unless otherwise given*/
